name: Precheck

# run this workflow on commits and pull requests
on: [push, pull_request]

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Use Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Checkout source
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}

      - name: Install runner and dependencies
        run: |
          go get github.com/alecaivazis/run
          export PATH=${PATH}:`go env GOPATH`/bin
          run install:ci

      - name: Run tests
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          run tests:coverage

      - name: Report to Coveralls
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
