name: CI Checks

# run this workflow on commits and pull requests
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Build release binaries
    runs-on: ubuntu-latest
    steps:
      - name: Use latest Go version
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Checkout source
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}

      - name: Install runner and dependencies
        run: |
          if [[ "$(go version)" =~ go1\.([0-9]+) ]] && (( "${BASH_REMATCH[1]}" >= 16 )); then
              go install github.com/alecaivazis/run@latest
          else
              go get github.com/alecaivazis/run
          fi

      - name: Build
        run: |
          run install:cd
          run build

  tests:
    name: Test with Go ${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - 1.16.x
          - 1.17.x
          - ^1.18  # Latest version of Go
    steps:
      - name: Use Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout source
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}

      - name: Install runner and dependencies
        run: |
          if [[ "$(go version)" =~ go1\.([0-9]+) ]] && (( "${BASH_REMATCH[1]}" >= 16 )); then
              go install github.com/alecaivazis/run@latest
          else
              go get github.com/alecaivazis/run
          fi

      - name: Run tests
        run: |
          run tests:coverage

      - name: Report to Coveralls
        if: matrix.go == '^1.18'
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
